.movie {
    overflow: hidden;
    position: relative;
}

.overview {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview {
    transform: translateY(0);

}

header {
    top: 0;
    /* position: fixed; */
    width: 100%;
}